.navbar{
    background-color: rgb(23, 231, 231);
}
.quem-somos{
    background-color: azure;
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: rgb(250, 173, 101);
}
.bg-footer{
    background-color: rgb(23, 231, 231);
}
.col-lg-4{
    padding: 9px;
}